// =========================================================================
// Sass variables
// =========================================================================


// Images & SVG base
$img-base: '../img/';
$svg-base: '../svg/';


//Sizes 

$font-size-smaller: 0.75rem; // 13
$font-size-small: 0.875rem; // 14
$font-size-normal: 1rem; // 16
$font-size-big: 1.125rem; // 18
$font-size-biger: 1.25rem; // 20


// Descriptive brand color variables
$brand-color: #2494CD;


// Classic color variables
$black: #000;
$white: #fff;


// Info variables
$red-info: #e74c3c;
$green-info: #2ecc71;

// Functional color variables

$color-link-default: #004D97;
$color-link-visited: #004D97;

$color-shadow: rgba(#000,.8);
$color-body: #fff;
$color-text: #000;




