// Utilities
// - State namespace utilities u- 
// - State namespaces is-/has-
// - Hacks!!! with ._hackname


// State Rules (SMACSS)

.u-mob-only {
  display: block;
  @include respond(sm) {
    display: none;
  }
}
.u-text-center {
  text-align: center;
}

.u-item-center {
  display: table!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.u-circle {
  border-radius: 100%;
}

.u-uppercase {
  text-transform: uppercase;
}

/* Flexbox utility, set item to flexbox and flex 1 to childs */
.u-flex {
  @include flexbox();
}

.u-flex > * {
  flex: 1;
}

.u-hide {
  display: none!important;
}

.u-tt-uppercase {
  text-transform: uppercase;
}

.u-no-scroll {
  overflow: hidden;
  width: 100%;
}

.u-block-mobile {
  display: block;
  @include respond(sm) {
    display: inline-block;
  }
}

.u-text-gray {
  color: rgba(1,1,1,.66);
}

/* Hacks!!! ._hackname */

._foohack {

}

